@font-face {
  font-family: cool;
  src: url(../font/MonumentExtended-Bold.woff);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #111010;
  color: #F1F2F0;
  font-family: cool;
  overflow: hidden;
}

input {
  display: none;
}

input:checked ~ label .menu .btn-burguer:nth-child(2) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

input:checked ~ label .menu .btn-burguer:nth-child(3) {
  width: 30px;
  margin-top: -5px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

input:checked ~ label .menu .btn-burguer:nth-child(1) {
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px);
}

.nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.nav .nav-list {
  margin: -20px -30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-width: 992px) {
  .nav .nav-list {
    margin: -20px 50px;
  }
}

.nav .nav-list .link-nav-item {
  text-decoration: none;
  display: none;
  margin: 5px 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #F1F2F0;
}

.nav .nav-list .link-nav-item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 992px) {
  .nav .nav-list .link-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav-list .link-nav-item:nth-child(5) {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 10px;
}

.menu .btn-burguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 30px;
  height: 4px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  background-color: #F1F2F0;
  margin: 1px;
}

.menu .btn-burguer:nth-child(1), .menu .btn-burguer:nth-child(3) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20px;
}

.hidden {
  -webkit-animation: menu-hidden-animation 0.3s ease-in-out forwards;
          animation: menu-hidden-animation 0.3s ease-in-out forwards;
}

.open {
  -webkit-animation: menu-open-animation 0.3s ease-in-out forwards;
          animation: menu-open-animation 0.3s ease-in-out forwards;
}

@-webkit-keyframes menu-open-animation {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes menu-open-animation {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes menu-hidden-animation {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}

@keyframes menu-hidden-animation {
  from {
    top: 0;
  }
  to {
    top: -100px;
  }
}

.content-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #111010;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  -webkit-animation: open-menu 0.6s ease-in-out;
          animation: open-menu 0.6s ease-in-out;
  overflow: hidden;
}

.content-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
}

.content-menu .menu-list ul {
  width: 100%;
  list-style: none;
}

.content-menu .menu-list ul li {
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

.content-menu .menu-list ul li:nth-child(1) {
  -webkit-animation: list-menu-animation 0.3s 0.6s ease-in-out forwards;
          animation: list-menu-animation 0.3s 0.6s ease-in-out forwards;
}

.content-menu .menu-list ul li:nth-child(2) {
  -webkit-animation: list-menu-animation 0.3s 0.9s ease-in-out forwards;
          animation: list-menu-animation 0.3s 0.9s ease-in-out forwards;
}

.content-menu .menu-list ul li:nth-child(3) {
  -webkit-animation: list-menu-animation 0.3s 1.2s ease-in-out forwards;
          animation: list-menu-animation 0.3s 1.2s ease-in-out forwards;
}

.content-menu .menu-list ul li:nth-child(4) {
  -webkit-animation: list-menu-animation 0.3s 1.5s ease-in-out forwards;
          animation: list-menu-animation 0.3s 1.5s ease-in-out forwards;
}

.content-menu .menu-list ul li a {
  text-decoration: none;
  color: #F1F2F0;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes list-menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes list-menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes open-menu {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes open-menu {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.home {
  height: 100vh;
}

@media only screen and (min-width: 992px) {
  .home {
    height: 120vh;
  }
}

.home .home-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home .home-content .spin {
  position: absolute;
  z-index: 3;
  right: 5%;
  top: 380px;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
  width: 50px;
}

@media only screen and (max-height: 650px) {
  .home .home-content .spin {
    top: 240px;
  }
}

@media only screen and (min-width: 600px) {
  .home .home-content .spin {
    top: 400px;
    right: 80px;
    width: 66px;
  }
}

@media only screen and (min-width: 768px) {
  .home .home-content .spin {
    top: 340px;
    right: 100px;
    width: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .home .home-content .spin {
    top: 250px;
    right: 165px;
    width: 88px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-content .spin {
    top: 160px;
    right: 210px;
    width: 100px;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home .home-content .home-presentation {
  position: absolute;
  left: 8.33%;
  top: 15.76%;
}

.home .home-content .home-presentation h1 {
  text-transform: uppercase;
}

.home .home-content .home-presentation h1:nth-child(1) {
  font-size: 20px;
  color: #04BF55;
}

.home .home-content .home-presentation h1:nth-child(2) {
  font-size: 14px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.home .home-content .home-presentation h1:nth-child(3) {
  font-size: 16px;
}

.home .home-content .home-presentation h1:nth-child(4) {
  font-size: 14px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

@media only screen and (min-width: 600px) {
  .home .home-content .home-presentation h1:nth-child(1) {
    font-size: 26px;
  }
  .home .home-content .home-presentation h1:nth-child(2) {
    font-size: 16px;
  }
  .home .home-content .home-presentation h1:nth-child(3) {
    font-size: 18px;
  }
}

.home .home-content .home-presentation h1:nth-child(4) {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .home .home-content .home-presentation h1:nth-child(1) {
    font-size: 30px;
  }
  .home .home-content .home-presentation h1:nth-child(2) {
    font-size: 17px;
  }
  .home .home-content .home-presentation h1:nth-child(3) {
    font-size: 21px;
  }
  .home .home-content .home-presentation h1:nth-child(4) {
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .home .home-content .home-presentation h1:nth-child(1) {
    font-size: 35px;
  }
  .home .home-content .home-presentation h1:nth-child(2) {
    font-size: 18px;
  }
  .home .home-content .home-presentation h1:nth-child(3) {
    display: none;
    font-size: 23px;
  }
  .home .home-content .home-presentation h1:nth-child(4) {
    display: none;
    font-size: 17px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-content .home-presentation h1:nth-child(1) {
    font-size: 40px;
  }
  .home .home-content .home-presentation h1:nth-child(2) {
    font-size: 20px;
  }
  .home .home-content .home-presentation h1:nth-child(3) {
    font-size: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .home .home-content .home-presentation {
    top: 200px;
    left: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .home .home-content .home-presentation {
    top: 172px;
    left: 92px;
  }
}

@media only screen and (min-width: 992px) {
  .home .home-content .home-presentation {
    top: 134.67px;
    left: 148px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-content .home-presentation {
    top: 100px;
    left: 200px;
  }
}

.home .home-content .text-translate-x {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

.home .home-content .text-translate-x h1 {
  display: none;
  margin-left: -1000px;
  margin-top: 300px;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 300px;
  -webkit-transform: scaleY(0.1);
          transform: scaleY(0.1);
}

@media only screen and (min-width: 992px) {
  .home .home-content .text-translate-x h1 {
    display: inline-block;
    font-size: 84px;
  }
  .home .home-content .text-translate-x h1:nth-child(2) {
    margin: -230px 0px 0px 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-content .text-translate-x h1 {
    font-size: 96px;
  }
  .home .home-content .text-translate-x h1:nth-child(2) {
    margin: -220px 0px 0px 0px;
  }
}

.home .home-content .home-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -1;
  top: 70vh;
  width: 300px;
  height: 385px;
  background-color: #04BF55;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .home .home-content .home-box {
    top: 680px;
    width: 430px;
    height: 550px;
  }
}

@media only screen and (min-width: 768px) {
  .home .home-content .home-box {
    top: 630px;
    width: 505px;
    height: 650px;
  }
}

@media only screen and (min-width: 992px) {
  .home .home-content .home-box {
    top: 565px;
    width: 605px;
    height: 780px;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-content .home-box {
    top: 550px;
    width: 700px;
    height: 900px;
  }
}

.home .home-content .home-box .aj1-home {
  position: absolute;
  width: 100%;
}

.about {
  height: 120vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.about .about-title {
  height: 7%;
}

@media only screen and (min-width: 600px) {
  .about .about-title {
    height: 8%;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-title {
    height: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-title {
    height: 13%;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-title {
    height: 15%;
  }
}

.about .about-title h1 {
  font-size: 30px;
  text-transform: uppercase;
  overflow: visible;
}

@media only screen and (min-width: 600px) {
  .about .about-title h1 {
    font-size: 43px;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-title h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-title h1 {
    font-size: 61px;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-title h1 {
    font-size: 70px;
  }
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  height: 95%;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .about .about-content {
    height: 92%;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-content {
    height: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-content {
    height: 87%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-content {
    height: 85%;
  }
}

.about .about-content .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 20px;
  overflow: hidden;
  margin-top: 20px;
}

@media only screen and (min-width: 992px) {
  .about .about-content .about-text {
    margin-top: 0px;
    padding: 0px 50px;
    width: 50%;
  }
}

.about .about-content .about-text h3 {
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-height: 650px) {
  .about .about-content .about-text h3 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .about .about-content .about-text h3 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-content .about-text h3 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-content .about-text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-content .about-text h3 {
    font-size: 22px;
  }
}

.about .about-content .about-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  margin-top: -100px;
}

@media only screen and (max-height: 650px) {
  .about .about-content .about-design {
    height: 70%;
    margin-top: 0;
  }
}

@media only screen and (min-width: 600px) {
  .about .about-content .about-design {
    margin-top: -66px;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-content .about-design {
    margin-top: -33px;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-content .about-design {
    margin-top: 0px;
    width: 50%;
  }
}

.about .about-content .about-design .about-box {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 335px;
  background-color: #8806BF;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .about .about-content .about-design .about-box {
    width: 350px;
    height: 385px;
  }
}

@media only screen and (min-width: 768px) {
  .about .about-content .about-design .about-box {
    width: 375px;
    height: 420px;
  }
}

@media only screen and (min-width: 992px) {
  .about .about-content .about-design .about-box {
    width: 415px;
    height: 460px;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-content .about-design .about-box {
    width: 450px;
    height: 500px;
  }
}

.about .about-content .about-design .about-box .like-about {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .work {
    height: 120vh;
  }
}

@media only screen and (min-width: 768px) {
  .work {
    height: 130vh;
  }
}

@media only screen and (min-width: 992px) {
  .work {
    height: 250vh;
  }
}

.work .work-title {
  height: 7%;
}

@media only screen and (min-width: 600px) {
  .work .work-title {
    height: 8%;
  }
}

@media only screen and (min-width: 768px) {
  .work .work-title {
    height: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .work .work-title {
    height: 13%;
  }
}

@media only screen and (min-width: 1200px) {
  .work .work-title {
    height: 15%;
  }
}

.work .work-title h1 {
  font-size: 30px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .work .work-title h1 {
    font-size: 43px;
  }
}

@media only screen and (min-width: 768px) {
  .work .work-title h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .work .work-title h1 {
    font-size: 61px;
  }
}

@media only screen and (min-width: 1200px) {
  .work .work-title h1 {
    font-size: 70px;
  }
}

.work .work-content {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2%;
  height: 80%;
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  overflow: hidden;
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .work .work-content {
    margin-top: -10vh;
    width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .work .work-content {
    margin-top: -5vh;
    width: 83%;
  }
}

@media only screen and (min-width: 992px) {
  .work .work-content {
    margin-top: -20vh;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .work .work-content {
    margin-top: -25vh;
    width: 78%;
  }
}

.work .work-content .work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24%;
  background-color: #049DD9;
  cursor: pointer;
  overflow: hidden;
}

.work .work-content .work-box .link-to-project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: none;
  color: white;
  text-decoration: none;
}

.work .work-content .work-box .img-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.work .work-content .work-box .img-site h3 {
  margin: 10px;
}

.work .work-content .work-box .hover-work-box {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #111010;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.work .work-content .work-box:hover .hover-work-box {
  opacity: .6;
}

.work .work-content .work-box:hover .img-site {
  opacity: 1;
}

.work .work-content .work-box:nth-child(2) {
  background-color: #F2BB13;
  background-image: url(../src/p.svg);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.work .work-content .work-box:nth-child(3) {
  background-color: #FF6060;
}

.work .work-content .work-box:nth-child(4) {
  background-color: #04BF55;
}

.work .work-content .work-box .number-one, .work .work-content .work-box .number-two {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  color: #049DD9;
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  .work .work-content .work-box .number-one, .work .work-content .work-box .number-two {
    font-size: 24px;
  }
}

.work .work-content .work-box .number-two {
  color: #F1F2F0;
}

.work .work-content .work-box .wave {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 600px) {
  .work .work-content .work-box .wave {
    top: -20px;
  }
}

@media only screen and (min-width: 768px) {
  .work .work-content .work-box .wave {
    top: -60px;
  }
}

@media only screen and (min-width: 992px) {
  .work .work-content .work-box .wave {
    top: -40px;
  }
}

@media only screen and (min-width: 1200px) {
  .work .work-content .work-box .wave {
    top: -100px;
  }
}

@media only screen and (min-width: 1500px) {
  .work .work-content .work-box .wave {
    top: -170px;
  }
}

.work .work-content .work-box .laptop-project-1 {
  width: 50%;
  margin: 0 20px;
}

@media only screen and (min-width: 768px) {
  .work .work-content .work-box .laptop-project-1 {
    width: 40%;
    margin: 0 50px;
  }
}

.work .work-content .work-box .phone-project-1-2 {
  width: 10%;
}

@media only screen and (min-width: 768px) {
  .work .work-content .work-box .phone-project-1-2 {
    width: 8%;
  }
}

.work .work-content .work-box .phone-project-1 {
  width: 10%;
}

@media only screen and (min-width: 768px) {
  .work .work-content .work-box .phone-project-1 {
    width: 8%;
  }
}

.work .work-content .work-box .phones-middle, .work .work-content .work-box .phones-left, .work .work-content .work-box .phones-right {
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .work .work-content .work-box .phones-middle, .work .work-content .work-box .phones-left, .work .work-content .work-box .phones-right {
    height: auto;
    width: 10%;
  }
}

.work .work-content .work-box .phones-middle {
  margin: 0 5px;
}

.work .work-content .work-box .phones-right {
  margin-right: 10px;
}

@media only screen and (min-width: 992px) {
  .work .work-content .work-box .phones-right {
    margin-right: 50px;
  }
}

.work .work-see {
  position: absolute;
  top: 310vh;
  z-index: 5;
  height: 5%;
}

@media only screen and (min-width: 768px) {
  .work .work-see {
    top: 340vh;
  }
}

@media only screen and (min-width: 992px) {
  .work .work-see {
    top: 460vh;
  }
}

.contact {
  height: 120vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contact .contact-title {
  height: 7%;
}

@media only screen and (min-width: 600px) {
  .contact .contact-title {
    height: 8%;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-title {
    height: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-title {
    height: 13%;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-title {
    height: 15%;
  }
}

.contact .contact-title h1 {
  font-size: 30px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .contact .contact-title h1 {
    font-size: 43px;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-title h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-title h1 {
    font-size: 61px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-title h1 {
    font-size: 70px;
  }
}

.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 95%;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .contact .contact-content {
    height: 92%;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-content {
    height: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-content {
    height: 87%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-content {
    height: 85%;
  }
}

.contact .contact-content .contact-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  margin-top: -100px;
}

@media only screen and (max-height: 650px) {
  .contact .contact-content .contact-design {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 600px) {
  .contact .contact-content .contact-design {
    margin-top: -66px;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-content .contact-design {
    margin-top: -33px;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-content .contact-design {
    margin-top: 0px;
    width: 50%;
  }
}

.contact .contact-content .contact-design .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 300px;
  height: 335px;
  background-color: #F2BB13;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .contact .contact-content .contact-design .contact-box {
    width: 350px;
    height: 385px;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-content .contact-design .contact-box {
    width: 375px;
    height: 420px;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-content .contact-design .contact-box {
    width: 415px;
    height: 460px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-content .contact-design .contact-box {
    width: 450px;
    height: 500px;
  }
}

.contact .contact-content .contact-design .contact-box .donuts-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.contact .contact-content .contact-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  padding: 0px 50px;
  overflow: hidden;
  margin-top: -50px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .contact .contact-content .contact-text {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-content .contact-text {
    padding: 0px 100px;
  }
}

.contact .contact-content .contact-text h3 {
  width: 100%;
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .contact .contact-content .contact-text h3 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact-content .contact-text h3 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .contact .contact-content .contact-text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .contact-content .contact-text h3 {
    font-size: 22px;
  }
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 100px;
  width: 100%;
  height: 400px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .title-box {
    top: 150px;
    padding: 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .title-box {
    top: 200px;
    padding: 0 100px;
  }
}

.title-box .pink-box {
  width: 200px;
  height: 150px;
  background-color: #049DD9;
}

@media only screen and (min-width: 600px) {
  .title-box .pink-box {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .title-box .pink-box {
    width: 350px;
    height: 220px;
  }
}

@media only screen and (min-width: 992px) {
  .title-box .pink-box {
    width: 400px;
    height: 250px;
    margin-left: 0;
  }
}

.title-box .title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 130px;
}

@media only screen and (min-width: 768px) {
  .title-box .title-text {
    right: 280px;
  }
}

@media only screen and (min-width: 992px) {
  .title-box .title-text {
    right: 350px;
  }
}

.title-box .title-text h1 {
  font-size: 42px;
}

@media only screen and (min-width: 600px) {
  .title-box .title-text h1 {
    font-size: 49px;
  }
}

@media only screen and (min-width: 768px) {
  .title-box .title-text h1 {
    font-size: 56px;
  }
}

@media only screen and (min-width: 992px) {
  .title-box .title-text h1 {
    font-size: 64px;
  }
}

.title-box .title-text h1:nth-child(2) {
  z-index: 1;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  margin: -10px 0;
}

@media only screen and (min-width: 768px) {
  .title-box .title-text h1:nth-child(2) {
    margin: -15px 0;
  }
}

@media only screen and (min-width: 992px) {
  .title-box .title-text h1:nth-child(2) {
    margin: -18px 0;
  }
}

.pele {
  position: absolute;
  right: 0;
  top: 170px;
  width: 180px;
}

@media only screen and (min-width: 768px) {
  .pele {
    top: 160px;
    width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .pele {
    top: 190px;
    right: 50px;
    width: auto;
  }
}

.title-list {
  width: 100%;
  margin: 500px 0 0 20px;
  font-size: 14px;
  color: #049DD9;
}

@media only screen and (min-width: 768px) {
  .title-list {
    font-size: 16px;
    margin: 700px 0 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .title-list {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .title-list {
    font-size: 24px;
  }
}

.content-project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  height: 50vh;
}

@media only screen and (min-width: 768px) {
  .content-project-list {
    height: 70vh;
  }
}

@media only screen and (min-width: 992px) {
  .content-project-list {
    height: 100vh;
  }
}

@media only screen and (min-width: 1200px) {
  .content-project-list {
    height: 130vh;
  }
}

.content-project-list .project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  overflow: hidden;
}

.content-project-list .project-list .item-list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  font-size: 18px;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  margin: 6px;
}

@media only screen and (min-width: 768px) {
  .content-project-list .project-list .item-list {
    font-size: 36px;
  }
}

@media only screen and (min-width: 992px) {
  .content-project-list .project-list .item-list {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-project-list .project-list .item-list {
    height: 64px;
  }
}

.content-project-list .project-list .item-list li {
  margin-left: -500px;
}

.content-project-list .project-list .item-list li span {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

footer .title-social-midia {
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  footer .title-social-midia {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  footer .title-social-midia {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  footer .title-social-midia {
    font-size: 24px;
  }
}

footer .content-social-midia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 50px 0;
}

footer .content-social-midia a:nth-child(2) {
  margin: 0 10px 0 10px;
}

footer .content-social-midia a .box-social-midia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  footer .content-social-midia a .box-social-midia {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (min-width: 992px) {
  footer .content-social-midia a .box-social-midia {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (min-width: 1200px) {
  footer .content-social-midia a .box-social-midia {
    border: 2px solid #FFFFFF;
    width: 48px;
    height: 48px;
  }
}

footer .content-social-midia a .box-social-midia .icon-social-midia {
  width: 14px;
}

@media only screen and (min-width: 768px) {
  footer .content-social-midia a .box-social-midia .icon-social-midia {
    width: 16px;
  }
}

@media only screen and (min-width: 992px) {
  footer .content-social-midia a .box-social-midia .icon-social-midia {
    width: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  footer .content-social-midia a .box-social-midia .icon-social-midia {
    width: 24px;
  }
}

footer h4 {
  text-align: center;
  font-size: 10px;
}

.font-cook {
  font-size: 56px;
  font-family: 'Oregano', cursive;
}
/*# sourceMappingURL=main.css.map */